<!DOCTYPE html>
<html lang="pt-BR">
{% load pwa %}
<head>
    {% progressive_web_app_meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/src_page/css_page/style.css">
    <title>Facilita MEI</title>
    <script>
        var variavel1 = {{variavel1|safe}}
        var variavel2 = {{variavel2|safe}}
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.js"></script>
</head>
<body>
    <nav class="barra_navegacao_desktop">
        <div class="logo">
            <a href="#">
                <img src="../static/assets/src_page/images_page/logo-img.png" alt="logo do projeto">
            </a>
        </div>
        <div class="barra_de_navegacao">
            <ul>
                <li onclick="voltar_para_inicio()">
                    <a href="#"><img src="../static/assets/src_page/images_page/home-icon.png" alt="Botão de início"></a>
                </li>
                <li onclick="abrir_caixa_upload()">
                    <a href="#"><img src="../static/assets/src_page/images_page/upload-icon.png" alt="Botão de envio da tabela de dados"></a>
                </li>
                <li>
                    <a href="#"><img src="../static/assets/src_page/images_page/info-icon.png" alt="Botão de suporte ou ajuda"></a>
                </li>
                <li onclick="esconder_dados()">
                    <a href="#"><img class="visibility_bttn_desktop" src="../static/assets/src_page/images_page/visibility_icon.svg" alt="Botão para esconder dados"></a>
                </li>
            </ul>
        </div>
        <div class="barra_de_pesquisa">
            <input type="text" placeholder="Pesquisar">
        </div>
    </nav>
    <div class="area_dos_graficos">
        <div class="grafico_0">
            <div class="calendario" onclick="abrir_calendario()">
                <img src="../static/assets/src_page/images_page/planner-icon.png" alt="Botão de filtro ou calendário">
            </div>
            <div class="grafico_receita">
                <img src="../static/assets/src_page/images_page/monetization_blue.svg" alt="Ícone da Receita">
                <div class="numeros_grafico_0">
                    <span>Receita</span>
                    <span>R$ <span class="valor_receita">00.000</span></span>                    
                </div>
            </div>
            <div class="grafico_despesa">
                <img src="../static/assets/src_page/images_page/trending_down_icon.svg" alt="Ícone da Despesa">
                <div class="numeros_grafico_0">
                    <span>Despesa</span>
                    <span>R$ <span class="valor_despesa">00.000</span></span>                    
                </div>
            </div>
            <div class="grafico_saldo">
                <img src="../static/assets/src_page/images_page/balance_icon.svg" alt="Ícone do Saldo">
                <div class="numeros_grafico_0">
                    <span>Saldo</span>
                    <span>R$ <span class="valor_saldo">00.000</span></span>   
                </div>
            </div>
        </div>
        <div class="graficos_principais">
            <div class="grafico_1">
                <canvas id="myChart1"></canvas>
            </div>
            <div class="grafico_2">
                <canvas id="myChart2"></canvas>
            </div>
        </div>
        <div class="graficos_principais">
            <div class="grafico_3">
                <canvas id="myChart3"></canvas>
            </div>
            <div class="grafico_4">
                <canvas id="myChart4"></canvas>
            </div>
        </div>
    </div>
    <div class="container_opcoes display_none">
        <div class="opcoes_calendario display_none">
            <form method="post">
                <label for="data_inicial">Data Inicial:</label>
                <input type="date" name="data_inicial" id="data_inicial">
                <label for="data_final">Data Final:</label>
                <input type="date" name="data_final" id="data_final">
                <button type="submit">Enviar</button>
            </form>
            <div class="botao_fechar" onclick="voltar_para_inicio()">
                <img src="../static/assets/src_page/images_page/arrow_back_icon.svg" alt="Botão de fechar janela de opções do calendário">
            </div>
        </div>
        <div class="caixa_upload display_none">
            <form method="post">
                <label for="arquivo_tabela">Envie sua tabela:</label>
                <input type="file" name="arquivo_tabela" id="arquivo_tabela">
                <button type="submit">Enviar Tabela</button>
            </form>
            <div class="botao_fechar" onclick="voltar_para_inicio()">
                <img src="../static/assets/src_page/images_page/arrow_back_icon.svg" alt="Botão de fechar janela de opções do calendário">
            </div>
        </div>
    </div>
    <nav class="barra_navegacao_mobile">
        <div class="barra_de_navegacao">
            <ul>
                <li onclick="voltar_para_inicio()">
                    <a href="#"><img src="../static/assets/src_page/images_page/home-icon.png" alt="Botão de início"></a>
                </li>
                <li onclick="abrir_caixa_upload()">
                    <a href="#"><img src="../static/assets/src_page/images_page/upload-icon.png" alt="Botão de envio da tabela de dados"></a>
                </li>
                <li>
                    <a href="#"><img src="../static/assets/src_page/images_page/info-icon.png" alt="Botão de suporte ou ajuda"></a>
                </li>
                <li onclick="esconder_dados()">
                    <a href="#"><img class="visibility_bttn_mobile" src="../static/assets/src_page/images_page/visibility_icon.svg" alt="Botão para esconder dados"></a>
                </li>
            </ul>
        </div>
    </nav>

    <script src="../static/assets/src_page/js_page/script.js"></script>

    <script src="../static/despesasmensais.js"></script>

    <script src="../static/lucroxdespesas.js"></script>
    <script src="../static/despesasporcategoria.js"></script>
    <script src="../static/projecaodelucro.js"></script>
</body>
</html>