<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./src_page/css_page/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Facilita MEI</title>
</head>
<body>
    <nav class="barra_navegacao_desktop">
        <div class="logo">
            <a href="#">
                <img src="./src_page/images_page/logo-img.png" alt="logo do projeto">
            </a>
        </div>
        <div class="barra_de_navegacao">
            <ul>
                <li>
                    <a href="#"><img src="./src_page/images_page/home-icon.png" alt="Botão de início"></a>
                </li>
                <li>
                    <a href="#"><img src="./src_page/images_page/settings-icon.png" alt="Botão de configurações"></a>
                </li>
                <li>
                    <a href="#"><img src="./src_page/images_page/upload-icon.png" alt="Botão de envio da tabela de dados"></a>
                </li>
                <li>
                    <a href="#"><img src="./src_page/images_page/info-icon.png" alt="Botão de suporte ou ajuda"></a>
                </li>
                <li>
                    <a href="#"><img src="./src_page/images_page/transparent-eye-icon.png" alt="Botão para esconder dados"></a>
                </li>
            </ul>
        </div>
        <div class="barra_de_pesquisa">
            <input type="text" placeholder="Pesquisar">
        </div>
    </nav>
    <div class="area_dos_graficos">
        <div class="grafico_0">
            <div class="calendario" onclick="abrir_calendario()">
                <img src="./src_page/images_page/planner-icon.png" alt="Botão de filtro ou calendário">
                <p>Todo o período</p>
                <img src="./src_page/images_page/seta_para_baixo.png" alt="Seta para abrir o calendário">
            </div>
            <div class="grafico_receita">

            </div>
            <div class="grafico_despesa">

            </div>
            <div class="grafico_saldo">

            </div>
        </div>
        <div class="grafico_1">

        </div>
        <div class="grafico_2">

        </div>
        <div class="grafico_3">
            <div class="grafico_3-1">

            </div>
            <div class="grafico_3-2">
    
            </div>
        </div>
    </div>
    <div class="opcoes_calendario display_none">

    </div>
    <div class="caixa_upload display_none">

    </div>
    <nav class="barra_navegacao_mobile">
        <div class="barra_de_navegacao">
            <ul>
                <li>
                    <a href="#"><img src="./src_page/images_page/home-icon.png" alt="Botão de início"></a>
                </li>
                <li>
                    <a href="#"><img src="./src_page/images_page/settings-icon.png" alt="Botão de configurações"></a>
                </li>
                <li>
                    <a href="#"><img src="./src_page/images_page/upload-icon.png" alt="Botão de envio da tabela de dados"></a>
                </li>
                <li>
                    <a href="#"><img src="./src_page/images_page/info-icon.png" alt="Botão de suporte ou ajuda"></a>
                </li>
                <li>
                    <a href="#"><img src="./src_page/images_page/transparent-eye-icon.png" alt="Botão para esconder dados"></a>
                </li>
            </ul>
        </div>
    </nav>
    <script src="./src_page/js_page/script.js"></script>
</body>
</html>