<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FacilitaMEI | Katu D.V</title>
    <link rel="stylesheet" href="../static/assets/src_fmei_page/css/pagina_site_oficial_FMEI.css">
</head>
<body onscroll="show_button_to_go_up(), show_navigation_bar()" onkeydown="show_button_to_go_up(), show_navigation_bar()">
    <nav class="navigation_bar">
        <div class="logo_katu_dv">
            <a href="https://www.katudv.com/">
                <img src="../static/assets/src_fmei_page/images/logo_katu_dv.png" alt="logo da startup Katu D.V">
            </a>
        </div>
        <div class="botao_menu" onclick="menu_opcoes_on()">
            <img src="../static/assets/src_fmei_page/images/icon_menu.svg" alt="botão de menu">
        </div>
        <div class="opcoes_menu">
            <a href="https://www.katudv.com/">Página Inicial</a>
            <a href="https://forms.gle/DkQ4BqauTgTkmpv56">
                Ter Acesso Antecipado
            </a>
        </div>
    </nav>
    <header>
        <div class="logo_facilita_mei">
            <img src="../static/assets/src_fmei_page/images/logo_facilita_mei.png" alt="logo do Facilita MEI">
        </div>
        <h1>FacilitaMEI</h1>
        <p class="header_text">
            Visão geral de seu negócio a um clique de distância.
            Clique abaixo para ter acesso antecipado ao produto.
        </p>
        <a href="https://forms.gle/DkQ4BqauTgTkmpv56">Clique Aqui</a>
        <p>Oferta válida por tempo limitado.</p>
        <div class="screenshot_dashboard_fmei">
            <img src="../static/assets/src_fmei_page/images/screenshot_dashboard.png" alt="imagem da ferramenta Facilita MEI">
        </div>
    </header>
    <section class="explicacao_ferramenta_fmei">
        <section class="section_explicacao_1">
            <div class="logo_e_texto_section_explicacao">
                <img src="../static/assets/src_fmei_page/images/bar_chart_icon.svg" alt="logo ilustrativa" class="logo_ilustrativa">
                <h2>Muitos dados, poucas informações.</h2>
                <p>
                    Inúmeros dados acabam se perdendo de vista, o que significam?
                    O que podem inferir? Várias informações são perdidas.
                </p>
            </div>
            <div class="imagem_ilustrativa">
                <img src="../static/assets/src_fmei_page/images/imagem_ilustrativa_1.png" alt="imagens de tabelas de dados e de um funcionario">
            </div>
        </section>
        <section class="section_explicacao_2">
            <div class="logo_e_texto_section_explicacao">
                <img src="../static/assets/src_fmei_page/images/monitoring_icon.svg" alt="logo ilustrativa" class="logo_ilustrativa">
                <h2>Entenda seus dados.</h2>
                <p>
                    Para evitar se perder em tabelas comumente se recorre a gráficos,
                    através deles podemos observar de maneira pânoramica a situação 
                    para determinarmos a melhor decisão a se tomar, infelizmente esse
                    passo requer estudo, análise de dados, contratação de mão de obra ou 
                    instalação de um software que necessita de treinamento.
                </p>
            </div>
            <div class="imagem_ilustrativa">
                <img src="../static/assets/src_fmei_page/images/imagem_ilustrativa_2.png" alt="imagem de um gráfico ilustrativo e de duas pessoas conversando.">
            </div>
        </section>
        <section class="section_explicacao_3">
            <div class="screenshot_versao_mobile_fmei">
                <img src="../static/assets/src_fmei_page/images/screenshot_dashboard_mobile.png" alt="imagem da ferramenta Facilita MEI na versão mobile">
            </div>
            <div class="logo_e_texto_section_explicacao">
                <img src="../static/assets/src_fmei_page/images/touch_app_icon.svg" alt="logo ilustrativa" class="logo_ilustrativa">
                <h2>Resolva tudo isso com um clique.</h2>
                <p>
                    A ferramenta FacilitaMEI te entrega um Dashboard de fácil entendimento com todas as informações 
                    necessárias para você ter controle total de seu negócio a partir de qualquer tabela que você esteja 
                    utilizando em apenas um clique.
                </p>
            </div>
        </section>
    </section>
    <div class="titulo_indicadores_chaves">
        <h2>
            Tenha indicadores chaves que ajudam a você tomar a melhor decisão para seu negócio.
        </h2>
    </div>
    <section class="indicadores_chaves">
        <section>
            <div class="logo_ilustrativa">
                <img src="../static/assets/src_fmei_page/images/balance_icon.svg" alt="logo ilustrativa">
            </div>
            <h3>Receita e saldo.</h3>
            <p>
                Saiba exatamente qual sua maior fonte de receita e a quantidade de seu saldo de maneira
                categorizada.
            </p>
        </section>
        <section>
            <div class="logo_ilustrativa">
                <img src="../static/assets/src_fmei_page/images/trending_up_icon.svg" alt="logo ilustrativa">
            </div>
            <h3>Projeção de lucro.</h3>
            <p>
                Tenha a visão do futuro do seu negócio baseada em seus dados históricos.
            </p>
        </section>
        <section>
            <div class="logo_ilustrativa">
                <img src="../static/assets/src_fmei_page/images/account_balance_icon.svg" alt="logo ilustrativa">
            </div>
            <h3>Despesas.</h3>
            <p>
                Tenha a visão de quanto se foi gasto com cada tipo de despesa, taxas e afins.
            </p>
        </section>
        <section>
            <div class="logo_ilustrativa">
                <img src="../static/assets/src_fmei_page/images/query_stats_icon.svg" alt="logo ilustrativa">
            </div>
            <h3>Resultados semestrais e trimestrais.</h3>
            <p>
                Tenha a visão temporal de como está seu negócio.
            </p>
        </section>
        <section>
            <div class="logo_ilustrativa">
                <img src="../static/assets/src_fmei_page/images/leaderboard_icon.svg" alt="logo ilustrativa">
            </div>
            <h3>Gráficos pensados para seu entendimento.</h3>
            <p>
                Gráficos interativos e que melhor representam suas informações.
            </p>
        </section>
        <section>
            <div class="logo_ilustrativa">
                <img src="../static/assets/src_fmei_page/images/update_icon.svg" alt="logo ilustrativa">
            </div>
            <h3>informações atualizadas com o mercado.</h3>
            <p>
                Constantes atualizações no aplicativo deixarão você sempre atualizado aos 
                melhores indicadores financeiros.
            </p>
        </section>
    </section>
    <section class="acesso_antecipado_ao_fmei">
        <div>
            <h2>Comece agora a ter controle sobre seus dados</h2>
            <p>
                Faça parte de nosso acesso antecipado e tenha a ferramenta assim que estiver 
                disponivel.
            </p>
            <a href="https://forms.gle/DkQ4BqauTgTkmpv56">Clique Aqui</a>
        </div>
    </section>
    <footer>
        <div class="logo_katu_dv">
            <a href="https://www.katudv.com/">
                <img src="../static/assets/src_fmei_page/images/logo_katu_dv.png" alt="Logo da startup Katu D.V">
            </a>
        </div>
        <p>
            Somos uma startup de visualização de dados.
        </p>
        <div class="redes_sociais_katu_dv">
            <a href="https://twitter.com/katudv">
                <img src="../static/assets/src_fmei_page/images/twitter_icon.png" alt="Twitter da Katu D.V">
            </a>
            <a href="https://www.facebook.com/KatuDV">
                <img src="../static/assets/src_fmei_page/images/facebook_icon.png" alt="Facebook da Katu D.V">
            </a>
        </div>
        <p class="copyright">
            Copyright ©2022 All rights reserved. This template is made by Katu D.V
        </p>
    </footer>
    <div class="botao_voltar_para_topo" onclick="back_to_up()">
        <img src="../static/assets/src_fmei_page/images/icon_to_up.svg" alt="botão de voltar para o topo/início da página">
    </div>
    <script src="../static/assets/src_fmei_page/js/pagina_site_oficial_FMEI.js"></script>
</body>
</html>