<!DOCTYPE html>
<html lang="pt-BR">
{% load pwa %}
<head>
    {% progressive_web_app_meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/src_page/css_page/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Facilita MEI</title>
</head>
<body>
    <nav class="barra_navegacao_desktop">
        <div class="logo">
            <a href="#">
                <img src="../static/assets/src_page/images_page/logo-img.png" alt="logo do projeto">
            </a>
        </div>
        <div class="barra_de_navegacao">
            <ul>
                <li>
                    <a href="#"><img src="../static/assets/src_page/images_page/home-icon.png" alt="Botão de início"></a>
                </li>
                <li>
                    <a href="#"><img src="../static/assets/src_page/images_page/settings-icon.png" alt="Botão de configurações"></a>
                </li>
                <li class="enviar_tabela" onclick="abrir_caixa_upload()">
                    <a href="#"><img src="../static/assets/src_page/images_page/upload-icon.png" alt="Botão de envio da tabela de dados"></a>
                </li>
                <li>
                    <a href="#"><img src="../static/assets/src_page/images_page/info-icon.png" alt="Botão de suporte ou ajuda"></a>
                </li>
                <li>
                    <a href="#"><img src="../static/assets/src_page/images_page/transparent-eye-icon.png" alt="Botão para esconder dados"></a>
                </li>
            </ul>
        </div>
        <div class="barra_de_pesquisa">
            <input type="text" placeholder="Pesquisar">
        </div>
    </nav>
    <div class="area_dos_graficos">
        <div class="grafico_0">
            <div class="calendario" onclick="abrir_calendario()">
                <img src="../static/assets/src_page/images_page/planner-icon.png" alt="Botão de filtro ou calendário">
            </div>
            <div class="grafico_receita">
                <span>Receita</span>
                <span>R$ <span class="valor_receita">00.000</span></span>
            </div>
            <div class="grafico_despesa">
                <span>Despesa</span>
                <span>R$ <span class="valor_despesa">00.000</span></span>
            </div>
            <div class="grafico_saldo">
                <span>Saldo</span>
                <span>R$ <span class="valor_saldo">00.000</span></span>
            </div>
        </div>
        <div class="grafico_1">

        </div>
        <div class="grafico_2">

        </div>
        <div class="grafico_3">
            <div class="grafico_3-1">

            </div>
            <div class="grafico_3-2">
    
            </div>
        </div>
    </div>
    <div class="opcoes_calendario display_none">
        <form method="post">
            <label for="data_inicial">Data Inicial:</label>
            <input type="date" name="data_inicial" id="data_inicial">
            <label for="data_final">Data Final:</label>
            <input type="date" name="data_final" id="data_final">
            <button type="submit">Enviar</button>
        </form>

    </div>
    <div class="caixa_upload display_none">
        <form method="post">
            <label for="arquivo_tabela">Envie sua tabela:</label>
            <input type="file" name="arquivo_tabela" id="arquivo_tabela">
            <button type="submit">Enviar Tabela</button>
        </form>
    </div>
    <nav class="barra_navegacao_mobile">
        <div class="barra_de_navegacao">
            <ul>
                <li>
                    <a href="#"><img src="../static/assets/src_page/images_page/home-icon.png" alt="Botão de início"></a>
                </li>
                <li>
                    <a href="#"><img src="../static/assets/src_page/images_page/settings-icon.png" alt="Botão de configurações"></a>
                </li>
                <li class="enviar_tabela" onclick="abrir_caixa_upload()">
                    <a href="#"><img src="../static/assets/src_page/images_page/upload-icon.png" alt="Botão de envio da tabela de dados"></a>
                </li>
                <li>
                    <a href="#"><img src="../static/assets/src_page/images_page/info-icon.png" alt="Botão de suporte ou ajuda"></a>
                </li>
                <li>
                    <a href="#"><img src="../static/assets/src_page/images_page/transparent-eye-icon.png" alt="Botão para esconder dados"></a>
                </li>
            </ul>
        </div>
    </nav>
    <script src="../static/assets/src_page/js_page/script.js"></script>
</body>
</html>