<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katu DV</title>
    <link rel="stylesheet" href="../static/assets/src_katu_dv_page/css/site_oficial_katu_dv.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <img src="../static/assets/src_katu_dv_page/images/menu_icon.svg" alt="Botão de menu" class="botao_menu" onclick="open_menu()">
    <nav class="barra_navegacao">
        <img src="../static/assets/src_katu_dv_page/images/close_icon.svg" alt="Botão de fechar menu" class="botao_fechar_menu" onclick="close_menu()">
        <h1>
            KATU D.V
        </h1>
        <ul class="links_navegacao">
            <li>
                <a href="#">INICIO</a>
            </li>
            <li>
                <a href="#">NOSSOS PRODUTOS</a>
            </li>
            <li>
                <a href="#">SOBRE NÓS</a>
            </li>
        </ul>
        <section>
            <p class="copyright">
                © Katu Data Visualization 2022
            </p>
            <ul class="redes_sociais_katu">
                <li>
                    <a href="#">
                        <img src="../static/assets/src_katu_dv_page/images/facebook-icon.png" alt="Link para o Facebook da Katu D.V">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../static/assets/src_katu_dv_page/images/twitter-icon.png" alt="Link para o Twitter da Katu D.V">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../static/assets/src_katu_dv_page/images/instagram-icon.png" alt="Link para o Instagram da Katu D.V">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../static/assets/src_katu_dv_page/images/linkedin-icon.png" alt="Link para o Linkedin da Katu D.V">
                    </a>
                </li>
            </ul>
        </section>
    </nav>
    <header>
        <div>
            <section>
                <h2>Somos uma startup focada em visualização de dados</h2>
                <p>
                    Descomplicamos todo o processo para você
                </p>
                <a href="#" class="saiba_mais">
                    SAIBA MAIS
                </a>
            </section>
        </div>
    </header>
    <script src="../static/assets/src_katu_dv_page/js/site_oficial_katu_dv.js"></script>
</body>
</html>