/*===== GERAL =====*/

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #CED1E2;
}

/*===== BARRA DE NAVEGAÇÃO NO DESKTOP =====*/

.barra_navegacao_desktop{
    background-color: #083A88;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 4;
}

.barra_navegacao_desktop .barra_de_navegacao{
    display: none;
}

.barra_navegacao_desktop .barra_de_pesquisa{
    margin-right: 1.5rem;
    margin-left: 1rem;
    width: 70vw;
}

.barra_navegacao_desktop .barra_de_pesquisa input{
    border: 0;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-image: url(../images_page/search-icon.png);
    background-repeat: no-repeat;
    background-size: 5%;
    background-position-x: 95%;
    background-position-y: center;
}

/*===== BARRA DE NAVEGAÇÃO(BOTÕES, LOGO) =====*/

.logo img{
    width: 50px;
    margin-left: 1.5rem;
}

.barra_de_navegacao ul{
    display: flex;
    gap: 30px;
    height: 4rem;
}

.barra_de_navegacao ul li{
    display: inline-block;
    width: 60px;
    height: 100%;
}

.barra_de_navegacao ul li:hover{
    background-color: #0c45a1;
}

.barra_de_navegacao ul li:hover::after{
    content: '';
    display: block;
    background-color: white;
    width: 100%;
    height: 6px;
}

.barra_de_navegacao li a{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.barra_de_navegacao li a img{
    width: 55%;
}

/*===== ÁREA DOS GRÁFICOS =====*/

.area_dos_graficos{
    width: 100vw;
    height: auto;
    padding: 6rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.area_dos_graficos div{
    border-radius: 10px;
}

.area_dos_graficos .grafico_0{
    height: 35vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: unset;

    width: 100vw;
    position: relative;
    right: 2rem;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 2rem;
}

.area_dos_graficos .grafico_0::-webkit-scrollbar{
    display: none;
}

.grafico_0 div{
    width: 30%;
    height: 100%;

    min-width: 70%;
}

.grafico_0 .grafico_receita,
.grafico_0 .grafico_despesa,
.grafico_0 .grafico_saldo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-weight: bold;
    gap: .5rem;
    scroll-snap-align: center;
}

.grafico_0 .grafico_receita{
    margin-left: 15vw;
}

.grafico_0 .grafico_saldo{
    margin-right: 15vw;
}

.grafico_0 .grafico_receita .numeros_grafico_0,
.grafico_0 .grafico_despesa .numeros_grafico_0,
.grafico_0 .grafico_saldo .numeros_grafico_0{
    min-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 1rem;
    font-size: 7vw;
}

.grafico_0 .grafico_receita img,
.grafico_0 .grafico_despesa img,
.grafico_0 .grafico_saldo img{
    width: 20%;
}

.area_dos_graficos .graficos_principais{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

.area_dos_graficos .grafico_1,
.area_dos_graficos .grafico_2,
.area_dos_graficos .grafico_3,
.area_dos_graficos .grafico_4{
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: white;
}

.area_dos_graficos .grafico_1 #myChart1,
.area_dos_graficos .grafico_2 #myChart2,
.area_dos_graficos .grafico_3 #myChart3,
.area_dos_graficos .grafico_4 #myChart4{
    width: 100% !important;
    height: 100% !important;
}

/*===== CALENDÁRIO =====*/

.grafico_0 .calendario{
    width: 6rem;
    height: 6rem;
    background-color: #083A88;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5vw;
    gap: 15px;
    cursor: pointer;

    position: fixed;
    z-index: 2;
    bottom: 5rem;
    right: 1rem;
    border-radius: 50%;
    border: 3px solid white;

    min-width: unset;
}

.grafico_0 .calendario:hover{
    background-color: #0c45a1;
}

.grafico_0 .calendario img{
    width: 40%;
}

/*===== CAIXA DE OPÇÕES PARA O CALENDÁRIO =====*/

.opcoes_calendario{
    background-color: #054ec2;
    width: 100vw;
    height: 100%;
    position: fixed;
    bottom: 1rem;
    z-index: 2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opcoes_calendario form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    gap: 1rem;
}

.opcoes_calendario form #data_inicial,
.opcoes_calendario form #data_final,
.opcoes_calendario form button{
    width: 70%;
    max-width: 80%;
    padding: 1rem;
    border-style: none;
    border-radius: 10rem;
    cursor: pointer;
}

.opcoes_calendario .botao_fechar{
    position: absolute;
    top: 6rem;
    right: 2rem;
    cursor: pointer;
}

.opcoes_calendario .botao_fechar img{
    border: 2px solid white;
    border-radius: 50%;
}

/*===== CAIXA PARA ENVIAR A TABELA DE DADOS =====*/

.caixa_upload{
    width: 100vw;
    height: 100vh;
    background-color: #054ec2;
    position: fixed;
    z-index: 2;
    bottom: 1rem;
    border-radius: 10px;
    display: flex;
}

.caixa_upload form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    gap: 1rem;
}

.caixa_upload form label{
    color: white;
}

.caixa_upload form input,
.caixa_upload form button{
    padding: 20px;
    background-color: white;
    border-radius: 10rem;
    cursor: pointer;
}

.caixa_upload form button{
    background-color: lightgray;
}

.caixa_upload .botao_fechar{
    position: absolute;
    top: 6rem;
    right: 2rem;
    cursor: pointer;
}

.caixa_upload .botao_fechar img{
    border: 2px solid white;
    border-radius: 50%;
}

/*===== BARRA DE NAVEGAÇÃO MOBILE ===== */

.barra_navegacao_mobile{
    background-color: #083A88;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: .1px;
    position: fixed;
    z-index: 4;
}

.barra_navegacao_mobile .barra_de_navegacao ul{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 0px 5px;
}

/*===== ADAPTAÇÃO DA TELA PARA VÁRIAS RESOLUÇÕES =====*/

/*=== MOBILE (CELULAR E TABLET) ===*/
@media screen and (min-width: 500px) {
    .area_dos_graficos .grafico_0{
        height: 20vw;
    }

    .grafico_0 .grafico_receita .numeros_grafico_0,
    .grafico_0 .grafico_despesa .numeros_grafico_0,
    .grafico_0 .grafico_saldo .numeros_grafico_0{
        min-width: 45%;
        font-size: 5vw;
    }
}

/*=== DESKTOP ===*/
@media screen and (min-width: 850px) {
    .barra_navegacao_desktop{
        position: absolute;
        justify-content: space-between;
        z-index: 5;
    }

    .barra_navegacao_desktop .barra_de_navegacao{
        display: flex;
    }

    .barra_navegacao_desktop .barra_de_pesquisa{
        width: 25vw;
    }

    .area_dos_graficos{
        max-width: 100%;
    }

    .area_dos_graficos .grafico_0{
        height: 10vw;
        width: unset;
        position: static;
        right: unset;
        scroll-snap-type: none;
        overflow-x: unset;
        scroll-behavior: unset;
        gap: 0%;
    }
    
    .grafico_0 div{
        width: 28%;
        min-width: 0%;
    }
    
    .grafico_0 .grafico_receita,
    .grafico_0 .grafico_despesa,
    .grafico_0 .grafico_saldo{
        scroll-snap-align: unset;
    }

    .grafico_0 .grafico_receita .numeros_grafico_0,
    .grafico_0 .grafico_despesa .numeros_grafico_0,
    .grafico_0 .grafico_saldo .numeros_grafico_0{
        font-size: 2vw;
    }

    .grafico_0 .grafico_receita{
        margin-left: 0%;
    }

    .grafico_0 .grafico_saldo{
        margin-right: 0%;
    }

    .grafico_0 .calendario{
        position: static;
        border-radius: 10px;
        height: 65%;
        width: 8%;
    }

    .area_dos_graficos .graficos_principais{
        flex-direction: row;
    }

    .container_opcoes{
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.7);
        inset: 0; 
        z-index: 2;
    }

    .opcoes_calendario{
        width: 40vw;
        height: 25rem;
        position: absolute;
        bottom: auto;
    }

    .caixa_upload{
        top: auto;
        bottom: auto;
        width: 45vw;
        height: 15rem;
    }

    .opcoes_calendario .botao_fechar,
    .caixa_upload .botao_fechar{
        top: 1rem;
        right: 1rem;
    }

    .opcoes_calendario .botao_fechar img,
    .caixa_upload .botao_fechar img{
        width: 2rem;
    }

    .barra_navegacao_mobile{
        display: none;
    }
}

/*===== OUTROS =====*/

.display_none{
    display: none;
}