/*===== GERAL =====*/

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --cor_principal: #000096;
    --border_radius_principal: 1rem;
    --box_shadow_principal: 6px 8px 8px #8885;
}

body{
    background-color: #CED1E2;
}

/*===== BARRA DE NAVEGAÇÃO NO DESKTOP =====*/

.barra_navegacao_desktop{
    /*background-color: #083A88;
    background-image: linear-gradient(to right,#01015c, #0505f7);
    background-image: linear-gradient(to right,#000096, #0101b8);*/
    background-color: var(--cor_principal);
    border-bottom: .1rem solid #fff;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 4;
}

.barra_navegacao_desktop .barra_de_navegacao{
    display: none;
}

.barra_navegacao_desktop .barra_de_pesquisa{
    margin-right: 1.5rem;
    margin-left: 1rem;
    width: 70vw;
}

.barra_navegacao_desktop .barra_de_pesquisa input{
    border: 0;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-image: url(../images_page/search-icon.png);
    background-repeat: no-repeat;
    background-size: 5%;
    background-position-x: 95%;
    background-position-y: center;
}

/*===== BARRA DE NAVEGAÇÃO(BOTÕES, LOGO) =====*/

.logo img{
    width: 50px;
    margin-left: 1.5rem;
}

.barra_de_navegacao ul{
    display: flex;
    align-items: center;
    gap: 30px;
    height: 4rem;
    overflow: hidden;
}

.barra_de_navegacao ul li{
    display: inline-block;
    width: 60px;
    height: 130%;
    transition-property: background-color;
    transition-duration: .5s;
}

.barra_de_navegacao ul li:hover{
    animation-name: nav_bttn_animation;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    background-color: #0505f7;
}

.barra_de_navegacao li a{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.barra_de_navegacao li a img{
    width: 55%;
}

@keyframes nav_bttn_animation{
    0%{transform: translateY(-.15rem);}
    50%{transform: translateY(.15rem);}
    100%{transform: translate(0rem);}
}

/*===== ÁREA DOS GRÁFICOS =====*/

.area_dos_graficos{
    width: 100vw;
    height: auto;
    padding: 6rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.area_dos_graficos div{
    border-radius: var(--border_radius_principal);
}

.area_dos_graficos .grafico_0{
    height: 40vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: unset;
    padding-bottom: 1rem;

    width: 100vw;
    position: relative;
    right: 2rem;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 2rem;
}

.area_dos_graficos .grafico_0::-webkit-scrollbar{
    display: none;
}

.grafico_0 div{
    width: 30%;
    height: 100%;
    min-width: 70%;
}

.grafico_0 .grafico_receita,
.grafico_0 .grafico_despesa,
.grafico_0 .grafico_saldo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-weight: bold;
    gap: .5rem;
    scroll-snap-align: center;
    padding: 1rem;
    box-shadow: var(--box_shadow_principal);
    height: 80%;
}

.grafico_0 .grafico_receita{
    margin-left: 15vw;
}

.grafico_0 .grafico_saldo{
    margin-right: 15vw;
}

.grafico_0 .grafico_receita .numeros_grafico_0,
.grafico_0 .grafico_despesa .numeros_grafico_0,
.grafico_0 .grafico_saldo .numeros_grafico_0{
    min-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 1rem;
    font-size: 7vw;
}

.grafico_0 .grafico_receita img,
.grafico_0 .grafico_despesa img,
.grafico_0 .grafico_saldo img{
    width: 20%;
}

.area_dos_graficos .graficos_principais{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

.area_dos_graficos .grafico_1,
.area_dos_graficos .grafico_2,
.area_dos_graficos .grafico_3,
.area_dos_graficos .grafico_4{
    width: 100%;
    height: 100vw;
    padding: 20px;
    background-color: white;
    box-shadow: var(--box_shadow_principal);
}

.area_dos_graficos .grafico_1 #myChart1,
.area_dos_graficos .grafico_2 #myChart2,
.area_dos_graficos .grafico_3 #myChart3,
.area_dos_graficos .grafico_4 #myChart4{
    width: 100% !important;
    height: 100% !important;
}

/*==== VALORES DE RECEITA, DESPESA E SALDO ====*/

.area_dos_graficos .grafico_0 .grafico_receita .valor_receita,
.area_dos_graficos .grafico_0 .grafico_despesa .valor_despesa,
.area_dos_graficos .grafico_0 .grafico_saldo .valor_saldo{
    overflow: hidden;
    border-radius: 10px;
    transition: all .3s;
    display: flex;
    float: right;
}

.area_dos_graficos .grafico_0 .numeros_grafico_0 span:last-child{
    display: flex;
    gap: .5rem;
    align-items: center;
}

/*===== CALENDÁRIO =====*/

.grafico_0 .calendario{
    width: 6rem;
    height: 6rem;
    /*background-image: linear-gradient(#01015c, #0505f7);*/
    background-color: var(--cor_principal);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5vw;
    gap: 15px;
    cursor: pointer;
    position: fixed;
    z-index: 2;
    bottom: 5rem;
    right: 1rem;
    border-radius: 50%;
    border: 3px solid white;
    min-width: unset;
}

.grafico_0 .calendario img{
    width: 40%;
}

/*===== CAIXA DE OPÇÕES PARA O CALENDÁRIO =====*/

.opcoes_calendario{
    background-image: linear-gradient(#01015c, #0505f7);
    width: 100vw;
    height: 100%;
    position: fixed;
    bottom: 1rem;
    z-index: 2;
    border-radius: var(--border_radius_principal);
    display: flex;
    align-items: center;
    justify-content: center;

    top: -95vh;
    animation-name: caixa_opcoes_calendario;
    animation-duration: .45s;
    animation-fill-mode: forwards;
}

.opcoes_calendario form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    gap: 1rem;
}

.opcoes_calendario form #data_inicial,
.opcoes_calendario form #data_final,
.opcoes_calendario form button{
    width: 70%;
    max-width: 80%;
    padding: .8rem;
    border-style: none;
    border-radius: var(--border_radius_principal);
    cursor: pointer;
    transition: all .3s;
    border: 1px solid transparent;
}

.opcoes_calendario form button:hover{
    background-color: #00307e;
    color: #fff;
    border: 1px solid #fff;
}

.opcoes_calendario .botao_fechar{
    position: absolute;
    top: 7rem;
    left: 2rem;
    cursor: pointer;
}

.opcoes_calendario .botao_fechar img:hover{
    border-radius: 50%;
    background-color: #083A88;
}

@keyframes caixa_opcoes_calendario{
    0%{top: -95vh;}
    100%{top: 0vh;}
}

/*===== CAIXA PARA ENVIAR A TABELA DE DADOS =====*/

.caixa_upload{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#01015c, #0505f7);
    position: fixed;
    z-index: 2;
    bottom: 1rem;
    border-radius: var(--border_radius_principal);
    display: flex;

    top: -95vh;
    animation-name: caixa_de_upload;
    animation-duration: .45s;
    animation-fill-mode: forwards;
}

.caixa_upload form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    gap: 1rem;
}

.caixa_upload form label{
    color: white;
}

.caixa_upload form input,
.caixa_upload form button{
    padding: .8rem;
    background-color: white;
    border-radius: var(--border_radius_principal);
    cursor: pointer;
}

.caixa_upload form button{
    background-color: lightgray;
    border: 1px solid transparent;
    transition: all .3s;
}

.caixa_upload form button:hover{
    background-color: #083A88;
    color: #fff;
    border: 1px solid #fff;
}

.caixa_upload .botao_fechar{
    position: absolute;
    top: 7rem;
    left: 2rem;
    cursor: pointer;
}

.caixa_upload .botao_fechar img:hover{
    border-radius: 50%;
    background-color: #083A88;
}

@keyframes caixa_de_upload{
    0%{top: -95vh;}
    100%{top: 0vh;}
}

/*===== BARRA DE NAVEGAÇÃO MOBILE ===== */

.barra_navegacao_mobile{
    /*background-color: #083A88;
    background-image: linear-gradient(to right,#01015c, #0505f7);*/
    background-color: var(--cor_principal);
    border-top: .1rem solid #fff;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: .1px;
    position: fixed;
    z-index: 4;
}

.barra_navegacao_mobile .barra_de_navegacao ul{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 0px 5px;
}

/*===== ADAPTAÇÃO DA TELA PARA VÁRIAS RESOLUÇÕES =====*/

/*=== MOBILE (CELULAR E TABLET) ===*/
@media screen and (min-width: 500px) {
    .area_dos_graficos .grafico_0{
        height: 30vw;
    }

    .grafico_0 .grafico_receita .numeros_grafico_0,
    .grafico_0 .grafico_despesa .numeros_grafico_0,
    .grafico_0 .grafico_saldo .numeros_grafico_0{
        min-width: 45%;
        font-size: 5vw;
    }

    .area_dos_graficos .grafico_1,
    .area_dos_graficos .grafico_2,
    .area_dos_graficos .grafico_3,
    .area_dos_graficos .grafico_4{
        height: 30rem;
    }
}

/*=== DESKTOP ===*/
@media screen and (min-width: 850px) {
    .barra_navegacao_desktop{
        position: absolute;
        justify-content: space-between;
        z-index: 5;
    }

    .barra_navegacao_desktop .barra_de_navegacao{
        display: flex;
    }

    .barra_navegacao_desktop .barra_de_pesquisa{
        width: 25vw;
    }

    .barra_de_navegacao ul li:hover{
        border-top: 0;
    }

    .area_dos_graficos{
        max-width: 100%;
    }

    .area_dos_graficos .grafico_0{
        height: 10vw;
        width: unset;
        position: static;
        right: unset;
        scroll-snap-type: none;
        overflow-x: unset;
        scroll-behavior: unset;
        gap: 1.5rem;
        padding-bottom: 0;
        justify-content: center;
        
    }
    
    .grafico_0 div{
        width: 27%;
        min-width: 0%;
    }
    
    .grafico_0 .grafico_receita,
    .grafico_0 .grafico_despesa,
    .grafico_0 .grafico_saldo{
        scroll-snap-align: unset;
        box-shadow: var(--box_shadow_principal);
        gap: 2rem;
        height: 80%;
        padding: 2rem 1rem;
    }

    .grafico_0 .grafico_receita .numeros_grafico_0,
    .grafico_0 .grafico_despesa .numeros_grafico_0,
    .grafico_0 .grafico_saldo .numeros_grafico_0{
        font-size: 2vw;
    }

    .grafico_0 .grafico_receita{
        margin-left: 0%;
    }

    .grafico_0 .grafico_saldo{
        margin-right: 0%;
    }

    .grafico_0 .calendario{
        position: static;
        border-radius: var(--border_radius_principal);
        height: 65%;
        width: 8%;
        transition-property: border-bottom;
        transition-duration: .1s;
        box-shadow: var(--box_shadow_principal);
    }

    .grafico_0 .calendario:hover{
        border-bottom: .4rem solid #fff;
    }

    .area_dos_graficos .graficos_principais{
        flex-direction: row;
    }

    .area_dos_graficos .grafico_1,
    .area_dos_graficos .grafico_2,
    .area_dos_graficos .grafico_3,
    .area_dos_graficos .grafico_4{
        height: 30vw;
    }

    .container_opcoes{
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.7);
        inset: 0; 
        z-index: 2;
    }

    .opcoes_calendario{
        width: 40vw;
        height: 25rem;
        position: absolute;
        bottom: auto;
        border: .1rem solid #fff;
    }

    .caixa_upload{
        top: auto;
        bottom: auto;
        width: 45vw;
        height: 15rem;
        border: .1rem solid #fff;
    }

    .opcoes_calendario .botao_fechar,
    .caixa_upload .botao_fechar{
        top: 1rem;
        right: 1rem;
        max-width: 2.2rem;
    }

    .opcoes_calendario .botao_fechar img,
    .caixa_upload .botao_fechar img{
        width: 2rem;
    }

    .barra_navegacao_mobile{
        display: none;
    }

    @keyframes caixa_opcoes_calendario{
        0%{top: -95vh;}
        100%{top: 20vh;}
    }

    @keyframes caixa_de_upload{
        0%{top: -95vh;}
        100%{top: 25vh;}
    }
}

/*===== OUTROS =====*/

.display_none{
    display: none;
}